In [1]:
import pandas as pd

In [2]:
from numpy import vstack,array
from numpy.random import rand
import numpy as np
from scipy.cluster.vq import kmeans,vq
import pandas as pd
import pandas_datareader as dr
from math import sqrt
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt

In [3]:
sp500_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
 
#read in the url and scrape ticker data
data_table = pd.read_html(sp500_url)
tickers = data_table[0]['Symbol'].values

In [4]:


length = len(tickers)

concat = []

for pos in ['Open', 'Close', 'High', 'Low', 'Adj Close', 'Volume']:
    prices_list = []
    
    print(pos)

    for i, ticker in enumerate(tickers):
        if i % 100 == 0:
            print("{}/{}".format(i, length))
        try:
            prices = dr.DataReader(ticker,'yahoo','01/01/2008')[pos]
            prices = pd.DataFrame(prices)
            prices.columns = [ticker]
            prices_list.append(prices)
        except:
            pass
        ref = pd.concat(prices_list,axis=1)

    ref.sort_index(inplace=True)
    
    concat.append(pd.DataFrame(ref.stack(), columns = [pos]))

Open
0/505
100/505
200/505
300/505
400/505
500/505
Close
0/505
100/505
200/505
300/505
400/505
500/505
High
0/505
100/505
200/505
300/505
400/505
500/505
Low
0/505
100/505
200/505
300/505
400/505
500/505
Adj Close
0/505
100/505
200/505
300/505
400/505
500/505
Volume
0/505
100/505
200/505
300/505
400/505
500/505

In [5]:
df = pd.concat(concat, axis = 1, sort = False)

In [8]:
df.shape

(1394614, 6)

In [9]:
df.to_csv("sp500_all_data.csv")

In [10]:
df.tail()

                       Open       Close        High         Low   Adj Close  \
Date
2019-08-01 XYL    79.570000   79.400002   79.559998   78.000000   79.320000
           YUM   116.150002  118.559998  119.639999  115.760002  118.750000
           ZBH   135.199997  137.880005  138.684998  134.960007  137.779999
           ZION   44.849998   45.009998   45.169998   44.509998   44.849998
           ZTS   114.900002  115.010002  115.790001  114.019997  115.680000

                    Volume
Date
2019-08-01 XYL    595034.0
           YUM   1023205.0
           ZBH    638179.0
           ZION   551780.0
           ZTS    446599.0