In [1]:
from numpy import vstack,array
from numpy.random import rand
import numpy as np
from scipy.cluster.vq import kmeans,vq
import pandas as pd
import pandas_datareader as dr
from math import sqrt
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt

In [2]:
sp100_url = 'https://en.wikipedia.org/wiki/S%26P_100'

In [3]:
data_table = pd.read_html(sp100_url)

In [8]:
tickers = data_table[2]['Symbol'].values

prices_list = []
length = len(tickers)
for i, ticker in enumerate(tickers):
    if i % 20 == 0:
        print("{}/{}".format(i, length))
    try:
        prices = dr.DataReader(ticker,'yahoo','06/05/2012')['Close']
        prices = pd.DataFrame(prices)
        prices.columns = [ticker]
        prices_list.append(prices)
    except:
        pass
    prices_df = pd.concat(prices_list,axis=1)
 
prices_df.sort_index(inplace=True)

0/100
20/100
40/100
60/100
80/100

In [9]:
prices_df.shape

(1765, 99)

In [10]:
prices_df.head()

,AAPL,ABBV,ABT,ACN,ADBE,AGN,AIG,ALL,AMGN,AMZN,...,UNP,UPS,USB,UTX,V,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2012-06-04,80.612854,NaN,28.893557,56.119999,30.309999,69.029999,27.530001,33.009998,68.699997,214.570007,...,53.224998,72.989998,28.790001,71.449997,28.540001,41.340000,30.510000,30.049999,65.989998,77.830002
2012-06-05,80.404289,NaN,28.931940,56.740002,30.709999,69.349998,28.650000,33.139999,68.449997,213.210007,...,53.540001,72.800003,29.219999,70.879997,28.452499,41.200001,30.580000,30.520000,65.500000,77.599998
2012-06-06,81.637146,NaN,29.286991,58.419998,31.690001,70.000000,29.900000,34.090000,69.980003,217.639999,...,55.090000,74.980003,29.700001,73.639999,29.084999,41.770000,30.959999,30.969999,65.930000,80.180000
2012-06-07,81.674286,NaN,29.363760,58.860001,31.320000,69.099998,30.150000,34.070000,69.099998,218.800003,...,55.139999,75.470001,29.580000,75.400002,29.202499,41.639999,30.980000,31.180000,65.870003,80.690002
2012-06-08,82.902855,NaN,29.690023,58.529999,31.650000,70.889999,30.480000,34.310001,68.870003,218.479996,...,55.320000,76.629997,30.100000,75.500000,29.145000,42.439999,31.160000,31.430000,68.220001,80.839996

In [11]:
prices_df_dropped = prices_df.dropna(axis='columns')

In [12]:
prices_df_dropped.shape

(1765, 93)

In [13]:
prices_df_dropped.to_csv('sp100_close_data.csv', index=True)

In [17]:
stock_info = pd.read_csv('sp500_stock_info.csv')

In [20]:
to_be_dropped_idx = []
for i, ticks in enumerate(stock_info['Symbol']):
    # remove the ones removed above due to NaN
    if ticks not in prices_df_dropped.columns:
        to_be_dropped_idx.append(i)
        

stock_info = stock_info.drop(stock_info.index[to_be_dropped_idx])

In [23]:
stock_info.shape

(93, 9)

In [25]:
stock_info.to_csv('sp100_stock_info.csv', index=False)